@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
    // outline: 1px red dotted;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    .app{
        justify-content: space-between;
        width: 1024px;
        margin: 0 auto;
    }
}