.learn_more_button{
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    width: 200px;
    height: 56px;
    font: normal 700 18px/40px Mulish;
    background-color: #fff;
    color: #458FF6;
    cursor: pointer;
}